body{
    background: lightgray;
}

header{
    background: gray;
    padding: 20px 0;
}

.titulo-principal{
    text-align: center;
    font-size: 5em;
    margin: 1em 0;
}

main{
    width: 940px;
    text-align: center;
    margin: 20px auto;
}

.opcoes{
    margin: 5em auto;
    text-align: center;
}

#botoes{
    margin: 100px 5%;
}

.botao{
    padding: 2.3em 65px;
    background-color: orange;
    border: none;
    border-radius: 10px;
    font-size: medium;
    width: 50%;
    margin: 1em;
    transition: 0.25s;
}

.botao:hover{ 
    cursor: pointer;
    transform: scale(1.1);
}

#status{
    font-size: 20px;
    margin: 2em;
}

table{
    width: 330px;
    height: 330px;
    margin: 0 auto;
    border-style: none;
}

table button{
    width: 110px;
    height: 110px;
    background-color: #FFFFFF;
    color: transparent;   
}

table button:hover{
    background-color: lightsteelblue;    
}

#b00{
    border-style: solid;
    border-color: black;
    border-left: none;
    border-top: none;
}

#b00:disabled{
    border-style: solid;
    border-color: black;
    border-left: none;
    border-top: none;
    color: black;
}

#b01{
    border-style: solid;
    border-color: black;
    border-top: none;
}

#b01:disabled{
    border-style: solid;
    border-color: black;
    border-top: none;
    color: black;
}

#b02{
    border-style: solid;
    border-color: black;
    border-top: none;
    border-right: none;
}

#b02:disabled{
    border-style: solid;
    border-color: black;
    border-top: none;
    border-right: none;
    color: black;
}

#b10{
    border-style: solid;
    border-color: black;
    border-left: none;
}

#b10:disabled{
    border-style: solid;
    border-color: black;
    border-left: none;
    color: black;
}

#b11{
    border-style: solid;
    border-color: black;
}

#b11:disabled{
    border-style: solid;
    border-color: black;
    color: black;
}

#b12{
    border-style: solid;
    border-color: black;
    border-right: none;
}

#b12:disabled{
    border-style: solid;
    border-color: black;
    border-right: none;
    color: black;
}

#b20, #b20:disabled{
    border-style: solid;
    border-color: black;
    border-bottom: none;
    border-left: none;
}

#b20:disabled{
    border-style: solid;
    border-color: black;
    border-bottom: none;
    border-left: none;
    color: black;
}

#b21{
    border-style: solid;
    border-color: black;
    border-bottom: none;
}

#b21:disabled{
    border-style: solid;
    border-color: black;
    border-bottom: none;
    color: black;
}

#b22{
    border-style: solid;
    border-color: black;
    border-bottom: none;
    border-right: none;
}

#b22:disabled{
    border-style: solid;
    border-color: black;
    border-bottom: none;
    border-right: none;
    color: black;
}

#botaoRestart{
    margin: 2em;
}

#botaoRestart button{
    padding: 8px 15px;
    margin: 10px;
    background-color: orange;
    border-style: none;
    border-radius: 10px;
    transition: 0.25s;
}

#botaoRestart button:hover{
    cursor: pointer;
    transform: scale(1.1);
}

.song-control{
    margin: 2em;
}

.song-control button{
    padding: 16px;
    border-radius: 100% 100%;
    border-style: none;
}

.song-control button:hover{
    cursor: pointer;
    border-style: solid;
    border-width: 2px;
}

.song-control button:first-child{
    background: url(imagens/botao-play.png)
}

.song-control button:nth-child(2){
    background: url(imagens/botao-de-pausa-de-video.png)
}

.song-control button:nth-child(3){
    background: url(imagens/aumentar-volume.png)
}

.song-control button:nth-child(4){
    background: url(imagens/diminuir-volume.png)
}