body{
    background: #edebed;
}

header{
    background: #294c74;
    padding: 20px 0;
    border-style: solid;
    border: black;
}

.titulo-principal{
    color: #FFFFF9;
    text-align: center;
    font-family: 'Nothing You Could Do', cursive;
    font-size: 5em;
    margin: 0.7em 0;

}

main{
    width: 940px;
    text-align: center;
    margin: 20px auto;
}

.opcoes{
    margin: 5em auto;
    text-align: center;
}

#botoes{
    margin: 75px 5%;
}

.botao{
    padding: 1em 65px;
    background-color: #294c74;
    border: none;
    border-radius: 10px;
    font-size: medium;
    width: 50%;
    margin: 1em;
    transition: 0.25s;
    color: #FFFFF9;
    font-family: 'Darker Grotesque', sans-serif;
    font-size: 30px;
}

.botao:hover{ 
    cursor: pointer;
    transform: scale(1.1);
}

#status, #listSongs h2{
    color: #294c74;
    font-size: 20px;
    margin: 2em;
    font-family: 'Darker Grotesque', sans-serif;
    font-size: 30px;
    font-weight: bold;
}

#listSongs{
    width: 940px;
}

#listSongs button{
    width: 50%;
    margin: 10px;
    background-color: #294c74;
    font-family: 'Darker Grotesque', sans-serif;
    font-size: 30px;
    border-style: none;
    border-radius: 10px;
    transition: 0.25s;
    color: #FFFFF9;
}

#listSongs button:hover{
    cursor: pointer;
    transform: scale(1.1);
}

.table-jogo{
    width: 450px;
    height: 450px;
    margin: 0 auto;
    border-style: none;
}

.table-jogo button{
    border-radius: 10px;
    border-width: 3px;
    font-size: 50px;
    background-color: #294c74;
    color: transparent; 
    font-family: 'Darker Grotesque', sans-serif;
    color:transparent;
}

.table-jogo button:hover{
    cursor: pointer;
    border-style: solid;
    border-width: 2px;
}

#b00{
    width: 150px;
    height: 150px;
    border-style: solid;
    border-color: white;
    border-left: none;
    border-top: none;
}

#b00:disabled{
    width: 150px;
    height: 150px;
    border-style: solid;
    border-color: white;
    border-left: none;
    border-top: none;
    color: #FFFFF9;
}

#b01{
    width: 150px;
    height: 150px;
    border-style: solid;
    border-color: white;
    border-top: none;
}

#b01:disabled{
    width: 150px;
    height: 150px;
    border-style: solid;
    border-color: white;
    border-top: none;
    color: #FFFFF9;
}

#b02{
    width: 150px;
    height: 150px;
    border-style: solid;
    border-color: white;
    border-top: none;
    border-right: none;
}

#b02:disabled{
    width: 150px;
    height: 150px;
    border-style: solid;
    border-color: white;
    border-top: none;
    border-right: none;
    color: #FFFFF9;
}

#b10{
    width: 150px;
    height: 150px;
    border-style: solid;
    border-color: white;
    border-left: none;
}

#b10:disabled{
    width: 150px;
    height: 150px;
    border-style: solid;
    border-color: white;
    border-left: none;
    color: #FFFFF9;
}

#b11{
    width: 150px;
    height: 150px;
    border-style: solid;
    border-color: white;
}

#b11:disabled{
    width: 150px;
    height: 150px;
    border-style: solid;
    border-color: white;
    color: #FFFFF9;
}

#b12{
    width: 150px;
    height: 150px;
    border-style: solid;
    border-color: white;
    border-right: none;
}

#b12:disabled{
    width: 150px;
    height: 150px;
    border-style: solid;
    border-color: white;
    border-right: none;
    color: #FFFFF9;
}

#b20{
    width: 150px;
    height: 150px;
    border-style: solid;
    border-color: white;
    border-bottom: none;
    border-left: none;
}

#b20:disabled{
    width: 150px;
    height: 150px;
    border-style: solid;
    border-color: white;
    border-bottom: none;
    border-left: none;
    color: #FFFFF9;
}

#b21{
    width: 150px;
    height: 150px;
    border-style: solid;
    border-color: white;
    border-bottom: none;
}

#b21:disabled{
    width: 150px;
    height: 150px;
    border-style: solid;
    border-color: white;
    border-bottom: none;
    color: #FFFFF9;
}

#b22{
    width: 150px;
    height: 150px;
    border-style: solid;
    border-color: white;
    border-bottom: none;
    border-right: none;
}

#b22:disabled{
    width: 150px;
    height: 150px;
    border-style: solid;
    border-color: white;
    border-bottom: none;
    border-right: none;
    color: #FFFFF9;
}

#botaoRestart{
    margin: 2em;
}

#botaoRestart button{
    padding: 8px 15px;
    margin: 10px;
    background-color: #294c74;
    border-style: none;
    border-radius: 10px;
    transition: 0.25s;
    color: #FFFFF9;
    font-family: 'Darker Grotesque', sans-serif;
    font-size: 30px;
}

#botaoRestart button:hover{
    cursor: pointer;
    transform: scale(1.1);
}

.song-control{
    margin: 1.7em;
}

.song-control button{
    padding: 16px;
    border-radius: 100% 100%;
    border-style: none;
}

.song-control button:hover{
    cursor: pointer;
    border-style: solid;
    border-width: 2px;
}

.song-control button:first-child{
    background: url(imagens/botao-play.png)
}

.song-control button:nth-child(2){
    background: url(imagens/botao-de-pausa-de-video.png)
}

.song-control button:nth-child(3){
    background: url(imagens/aumentar-volume.png)
}

.song-control button:nth-child(4){
    background: url(imagens/diminuir-volume.png)
}